*{ margin:0; padding:0; box-sizing: border-box;}

.heading{
  color: blue;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: burlywood;
} 


.img_div{
  width: 250px;
  height: 50px;
  
}
.img_div img {
   display: flex;
   justify-content: center;
}